# gitignore

# auto saves from emacs and the likes
*~
*#

# Analysis specific stuff
*.hepmc
*.root

# Analysis tools in folder

# sub-directories
**/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
